.wrapper {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.editor-wrapper {
  width: 100%;
  max-width: 45rem;
  height: 297mm;
  width: 210mm;
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(184, 184, 184, 0.75);
}
